body{
    background-color: #fafafa;
    /*background-image: url("../imgs/81YDuTWSHyL.png");*/
    background-repeat: no-repeat;/*repeat no-repeat repeat-x repeat-y*/
    background-size: cover;/*cover contain */
    text-align: center;
}
h1{
   color:#9632FF90;/* rgba(150,50,255,0.1) */
   font-size: 50px;
   line-height: 1.5;
   text-align: center;
   /*border-top:10px solid green;!* dotted dashed*!*/
   border-bottom:1px solid green;/* dotted dashed*/
   /*border-right:10px solid green;!* dotted dashed*!*/
   /*border-left:10px solid green;!* dotted dashed*!*/
}
p{
   color:#222222;
   font-size: 14px;
   line-height:1.5;
   text-align: justify;/* left center right */
    width: 800px;
    text-transform: none;/* uppercase lowercase capitalize */
    text-decoration: none;/* underline line-through overline none*/
    font-family: Arial;
    font-weight: 400;/* thin-100 light-300 normal-400 medium-500 semi-bold-600 bold-700 extra-bold-800 black-900*/
}
img{
    max-width: 100%;
    /*text-align: center;*/
}